variable "do_pub_key" {
  default =
}

variable "do_priv_key" {
  default =
}

variable "do_token" {
  default =
}

variable "gcp_key" {
  default =
}

variable "jxo-gateway-main-ipv4-address" {
  type = string
}

variable "balendar-jwt-secret-key" {
  default = 
}

variable "balendar-mongodb-default-database" {
  default = 
}

variable "balendar-mongodb-connection-string" {
  default = 
}

variable "balendar-api-base-url" {
  default = 
}